<!-- signup.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      form {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      label {
        display: block;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      button {
        background-color: #333;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #555;
      }
    </style>
  </head>

  <body>
    <% if (errorMessage) { %> <% } %>

    <form action="/register" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br />

      <label for="phonenumber">Phone Number:</label>
      <input type="text" id="phonenumber" name="phonenumber" required /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />

      <label for="role">role:</label>
      <select type="text" id="role" name="role" required>
        <option name="role" id="role">student</option>
        <option name="role" id="role">donor</option>
      </select>

      <br />

      <button type="submit">Sign Up</button>
    </form>

    <% if (successMessage) { %>
    <script>
      window.location.href = "/login";
    </script>
    <% } %>
  </body>
</html>
